<div class="flex-container">
  <div class="flex-item">
    <img src="https://lh3.googleusercontent.com/-LvroGvBAXVA/WWPkQxrzvCI/AAAAAAABhv0/vpiQYmET1c8G9Loh9MFMid19kPUEFHF4gCLIBGAYYCw/w180-h180-n-k-no/" class="img-rounded" alt="Pete's Cafe and Burrito Haven">

<div class="restaurantDetails">
      <span class="label venueScore">Venue Mean Rating</span>
    <h4 class="restaurantName">Name of Restaurant</h4>

    <h4 class="restaurantDescription">Restaurant Description in terms of location</h4>
    <button type="button" name="button"><i class="fa fa-bookmark-o fa-2x"  aria-hidden="true"></i>Save</button>

</div>

  </div>
</div>
