<div class="reviewDetails">
  <img src="" class="img-rounded" alt={{model.name}} height="150" width="150">
  <div class="imageAuthor">

  </div>
  <div class="author">
    <h3>{{model.user.firstName}}</h3>
  </div>
  <div class="reviewDate">
    <h3>{{model.createdAt}}</h3>
  </div>
</div>
<div class="reviewDescription">
  <h3>{{model.text}}</h3>
</div>
