<div class="reviewDetails">
  <div class="authorSection">
    <p class="author">{{review.user.firstName}}</p>
    <span class=commentIcon><i class="fa fa-commenting-o " aria-hidden="true"></i></span>
  </div>
  <div class="reviewDateSection">
    <span class="dateIcon"><i class="fa fa-tint" aria-hidden="true"></i></span>
    <p class="reviewDate">{{review.createdAt}}</p>
  </div>
  <div class="reviewDescription">
    <p>{{review.text}}</p>
  </div>
</div>
