<div class="reviewDetails">

  <div class="author">
    <h3>{{review.user.firstName}}</h3>
  </div>

  <div class="reviewDate">
    <h3>{{review.createdAt}}</h3>
  </div>
  <div class="reviewDescription">
    <h3>{{review.text}}</h3>
  </div>

</div>
