<div class="well">
	<h3>About</h3>
	<p>FunSquare is a search-and-discovery web application that displays personalized recommendation of places near the location of a user according to the category of place chosen. </p>
	<p>It uses Foursquare API to access their data. Foursqure is an app that helps you find the perfect places to go with friends. Discover the best food, nightlife, and entertainment in your area.</p>
</div>