<div class="well">
	<h3>About</h3>
	<p>FunSquare is a search-and-discovery web application that displays personalized recommendations of venues such as restaurants according to the category of place and location chosen. Upon choosing a result, more details about it are shown and reviews are listed. A user then has the option to add an event at the venue. </p>
	<p>It uses the Foursquare API to access their data. Foursquare is an app that helps you find the perfect places to go with friends. Discover the best food, nightlife, and entertainment in your area.</p>
</div>