<div class="about container-fluid">
<div class="well">
	<div class="row">
<link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
	<h2><strong>About</strong></h2>
	
	<p>FunSquare is a search-and-discovery web application that displays personalized recommendations of venues such as restaurants according to the category of place and location chosen. Upon choosing a result, more details about it are shown and reviews are listed. A user then has the option to add an event to their Google Calendar. </p>
	<p>Funsquare helps you find the perfect places to go with friends, discover the best food, nightlife, and entertainment in your area.</p>
	
</div>
</div>
</div>
