
  <div class="header">
    <!-- <h1 class="funTag"><strong>FunSquare</strong></h1> -->
    <h3>Explore all the Places, New Memories Await!</h3>
  </div>
  <div class="searchVenue">
    <div class="venueOptions">
      <select required id="categories" name="categories" class="btn btn-primary" onchange={{action 'setSelection' value="target.value"}}>
        <option value=none>I'm Looking For....</option>
        <option value=top-picks>Recommended:Highest Rating</option>
        <option value=food>Food</option>
        <option value=nightlife>Nightlife</option>
        <option value=events>Events</option>
        <option value=arts>Arts and Entertainment</option>
        <option value=outdoors>Outdoors and Recreation</option>
      </select>
    </div>
    <div class="form-group" id="locationInput">
      {{input required id="location" value=location class="myLocation" type="text" placeholder="Choose a location"}}
    </div>
    <div class="form-group" id="searchVenue">
      <button type="button" id="search" class="btn btn-primary" {{action 'submit'}}>Search</button>
    </div>
  </div>
