<html>
  <head>
    <script src="ouical.js"></script>
    <script src="ouical.min.js"> </script>
    <link rel="stylesheet" href="main.css">
    <title></title>
  </head>

  <body>
    <div class="new-cal"></div>

  <!-- <script>
      var myCalendar = createCalendar({
        options: {
          class: 'my-class',
          id: 'my-id'                               // You need to pass an ID. If you don't, one will be generated for you.
        },
        data: {
          title: '',     // Event title
          start: new Date(''),   // Event start date
          duration: 120,                            // Event duration (IN MINUTES)
          end: new Date(''),     // You can also choose to set an end time.
                                                    // If an end time is set, this will take precedence over duration
          address: 'The Fun Square',
          description: 'Add an event in Fun Square, then prepare for world domination.'
        }
      }),

      document.querySelector('.new-cal').appendChild(myCalendar);

  </script> -->
  </body>
</html>
