<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<p class="navbar-heading navbar-brand">{{#link-to 'index'}}FunSquare{{/link-to}}</p>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li>{{#link-to 'index'}}Home{{/link-to}}</li>
			<li>{{#link-to 'about'}}About{{/link-to}}</li>
		</ul>
</nav>
{{outlet}}
