<ul>
  {{#each model as |result|}}
    <div class="flex-container">
      <div class="flex-item">
        <div class="venueInfo">
            <img src="https://lh3.googleusercontent.com/-LvroGvBAXVA/WWPkQxrzvCI/AAAAAAABhv0/vpiQYmET1c8G9Loh9MFMid19kPUEFHF4gCLIBGAYYCw/w180-h180-n-k-no/" class="img-rounded" alt="Pete's Cafe and Burrito Haven">

          <span class="label venueScore">Venue Mean Rating</span>
          <span class="label venueCost">Cost Estimation</span>
          <div class="restaurantDetails">
            
              <h4 class="restaurantName">{{result.venue.name}}</h4>
          
            <h4 class="restaurantDescription">Restaurant Description in terms of location</h4>
            <!-- <a class="button"><i class="fa fa-bookmark-o fa-2x" aria-hidden="true">Save</i></a> -->
            <button class="actionSave" type="button" name="button"><i class="fa fa-bookmark-o fa-2x fa-fw"  aria-hidden="true"></i>Save</button>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</ul>
